window#waybar {
    background: rgba(26, 27, 38, 0.75);
    color: #c0caf5;
    transition: background-color 0.5s;
}

/* Monitor AL */
* {
    font-family: "JetBrainsMono Nerd Font Mono";
    transition: background-color 0.3s ease-out;
    font-size: 14px;
}

/* Modules positioning */

.modules-center {
    background: transparent;
    padding: 0 12px;
}

.modules-left,
.modules-center,
.modules-right {
    background: rgba(0, 0, 8, 0.7);
    padding: 0px 10px;
    border-radius: 15px;
    margin: 5px 10px;
}

/* Modules */
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#language,
#mpd {
    padding: 0 10px;
    border-radius: 15px;
}

#submap {
    background-color: rebeccapurple;
    padding: 0 10px;
}

/* Modules hover effects */
#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#power-profiles-daemon:hover,
#language:hover,
#mpd:hover {
    background: rgba(26, 27, 38, 0.9);
}

#workspaces {
    padding: 0 5px;
    border-radius: 15px;
    background: rgba(0, 0, 8, 0.7);
}

#workspaces button {
    background: transparent;
    font-weight: 900;
    font-size: 13pt;
    color: #c0caf5;
    border: none;
    border-radius: 99999px;
    padding: 0 5px;
    font-size: 30px;
    margin: 5px 5px;
}

#workspaces button.active {
    background: #202020;
}

#workspaces button:hover {
    background: #202020;
    color: #cdd6f4;
    box-shadow: none;
}

#custom-arch {
    padding: 0 5px;
    font-size: 20px;
    transition: color 0.5s;
}

window.laptop #custom-arch {
    padding: 0 5px;
    font-size: 20px;
}

#custom-arch:hover {
    color: #1793d1;
}
